html {
    font-size: 12pt;
    background-color: grey;
    font-family: arial,sans-serif;
    font-size: 9pt;
    color: #222;
}

a {
    color: #00E;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #00E;
}

#page {
    width: 21cm;
    height: 29.7cm;
    margin: 20px auto;
    background-color: white;
}

#bandeau_recherche {
    background-color: #f1f1f1;
    width: 100%;
    padding: 15px 0 15px 20px;
    box-sizing: border-box;
    margin-bottom: 1.7ex;
}

#bandeau_recherche > * {
    vertical-align: middle;
}

#doodle {
    width : 95px;
}

#bouton_recherche_cont {
    border: 1px solid #4285f4;
    height: 24px;
    display: inline-block;
    border-radius: 0 2px 2px 0;
    margin-left: -5px;
}

#bouton_recherche {
    width: 60px;
    background: linear-gradient(#4387FD, #4683EA);
    border: 0 none transparent;
    height: 24px;
}

#input_recherche {
    width: 280px;
    display: inline;
    height: 24px;
    margin-left: 20px;
    padding : 0 0 0 10px;
    border-color: rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-width: 1px;
}

#bouton_recherche img {
    vertical-align: middle;
}

#tel_mail_conteneur {
    display: inline-block;
    float: right;
    margin-right: 20px;
    margin-top: -5px;
}

#tel_mail_conteneur  *{
    vertical-align: middle;
}

#tel_mail_conteneur img{
    width : 20px;
}

#profil {
    border-radius: 15px;
    float: right;
    margin-right: 20px;
}

#resume_conteneur {
    width: 345px;
    display: inline-block;
    float: right;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    margin: 17px 20px 0 0;
}

#resume_texte_cont {
    padding: 10px;
    line-height: 1.24;
}

#resume_titre {
    font-size: 20pt;
    margin-bottom: 10px;
}

#resume_fonction {
    font-size: 10pt;
    color: #777;
    margin-bottom: 10px;
}

#resume_texte {
    margin-bottom: 2ex;
}

#photo_autres_conteneur {
    width: 60%;
    display: inline-block;
}

#photos_conteneur {
    overflow: hidden;//pour ne pas avoir une hauteur égale à 0
}

#photos_conteneur > * {
    position: relative;
    overflow: hidden;
    margin-right: 1px;
    margin-bottom: 1px;
    float:left;
}

#photos_conteneur img {
    position: absolute;
}

#portrait_cont {
    width: 148px;
    height: 150px;
}

#portrait_cont > img{
    height: 100%;
}

#circuit_cont {
    width: 110px;
    height: 80px;
}

#circuit_cont > img{
    height: 100%;
    left:-7px;
}

#mamba_cont {
    width: 82px;
    height: 80px;
}

#mamba_cont > img{
    height: 100%;
    left: 5px;
}

#clean_code_cont {
    width: 96px;
    height: 69px;
}

#clean_code_cont > img{
    width: 100%;
}

#cible_cont {
    width: 96px;
    height: 69px;
}

#cible_cont > img{
    width: 205%;
    left: -22px;
}

#plus_images {
   background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.4);
   color: #FFF;
   font-size: 14px;
   text-shadow: 0px 0px 2px #000, 0px 0px 3px #000;
   padding: 6px 4px;
   position: relative;
   top: -27px;
   float: right;
   margin: 0px 3px -26px 0px;//pour empecherde prendre de la heuteur dans son parent
}

.categorie_separateur {
    border-bottom: 1px solid #EBEBEB;
    padding-right: 70px;
    margin-left: 2ex;
    
}
.categorie_titre {
    color: #DD4B39;
    border-bottom: 3px solid #DD4B39;
    font-size: 10pt;
    margin: auto;
    width: 24ex;
    padding: 0px 1ex 2ex;
    text-align: center;
}

.fleche {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #909090;
    margin: 0 0.4ex 0 0.6ex;
    vertical-align: middle;
}

.resume_info {
    margin-top: 1ex;
    font-weight: bold;
    margin-right: 0.5ex;
}

.info_lien {
    font-weight: normal;

}

#dates_conteneur, #nuage_conteneur {
    padding: 0 10px;
}

.resume_titre {
    font-size: 16pt;
    display: inline-block;
    margin-top: 2ex;
}

#date_titre {
    font-size: 16pt;
    display: inline-block;
    margin-top: 2ex;
}

#date_table {
    font-size : 9pt;
    width: 100%;
    line-height: 1.25;
    margin-top: 1ex;
}

#date_table tr {
    border-bottom: 1px solid #EBEBEB;
}

#date_table td {
    vertical-align: middle;
}

#date_table td:first-child{
    color: #00E;
    padding: 1ex 1ex 1ex 0px;
    width: 30%
}

#date_table td:nth-child(2){
    text-align: center;
}

#date_table td:nth-child(3){
    text-align: center;
    width: 38%;
}

#nuage {
    width: 100%;
    margin-top: 1ex;
}

#experiences_conteneur  {
    float: left;
    width: 420px;
    color: #545454;
}

.experience {
    margin: 1ex 2ex 2ex 5ex;
}

.experience .titre {
    font-size: 11pt;
    color: #00E;
    line-height: 1.3;
    padding-right: 2ex;
}

.experience .url, .experience .date {
    margin: 0.2ex 0 0 0;
    display: inline-block;
}

.experience .url {
    color: #006621;
}

.experience .date {
    color: #808080;
}

.experience .resume, .experience .competence_texte {
    letter-spacing: 0.03ex;
    line-height: 12pt;
}

.experience .resume {
    margin: 0.5ex 0;
}

.experience .competence_titre {
    font-weight: bold;
}

.experience .competence_titre, .experience .competence_texte {
    display: inline;
}